---
---

@import "{{ site.theme }}";  

.downloads {
    display: none;
}
.wrapper {
    width: 100%;
}
section {
    width: 100%;
    float: left;
    padding-left: 300px;
}
footer {
    bottom: 10px;
}